* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
}

.navbar {
    padding: 10px 20px;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: teal;
}

.navbar ul {
    flex: 1;
    text-align: right;
    color: white;
}

.navbar ul li {
    display: inline-block;
    margin: 0 30px;
}

.logo {
    font-size: 35px;
    color: whitesmoke;
}

.mobile-nav {
    display: none;
}

.navbar .search-container {
    float: right;
    margin-left: 25px;
}

.navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

div.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: whitesmoke;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.confirm {
    margin-top: 50px;
}

.confirm-text {
    position: relative;
    top: -10px;
    left: 0px;
}

.swipe {
    background-color: whitesmoke;
    top: 0px;
    left: 0px;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 10000;
}

@media only screen and (max-width: 800px) {
    .navbar .nav {
        display: none;
    }
    .mobile-nav {
        background-color: teal;
        display: block;
        color: whitesmoke;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 20px;
    }
    .mobile-nav i {
        font-size: 7vmin;
        cursor: pointer;
    }
    .mobile-nav li:hover i {
        color: rgb(5, 5, 49);
    }
    .navbar .search-container {
        float: right;
    }
    .navbar a,
    .navbar input[type=text] {
        float: left;
        display: block;
        text-align: left;
        width: 70%;
        margin: 0;
        padding: 14px;
        margin-left: 25px;
    }
    .navbar input[type=text] {
        border: 1px solid #ccc;
    }
}